name: Deploy Docs on Github Pages

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/**'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Prepare deploy directory
        run: |
          mkdir -p publish/docs
          mkdir -p publish/usecase
          
          # Copy ./docs -> /docs
          cp -r docs/* publish/docs/
          
          # Copy ./usecase/arcraft-frontend/dist -> /usecase
          cp -r usecase/arcraft-frontend/dist/* publish/usecase/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./publish
          publish_branch: gh-pages
